<html>

	<head>
		<title>Menu principal</title>
	</head>
	<body>

		<h2>Menu</h2>
		
		<form method="get" name="formMenu">			
			<input type="submit" value="Cargos" onclick="document.formMenu.action='/cargos'" />
		</form>
		
	</body>

</html>
