<html>

	<head>
		<title>Cargo: <%= @entidade.descricao %></title>
	</head>
	<body>

		Cargo
		<form>
			
			Código
			<input type="text" value="<%=@entidade.codigo%>" />
			Descrição
			<input type="text" value="<%=@entidade.descricao%>" />
			
		</form>
		
	</body>

</html>
