<html>

	<head>
		<title>Cargo: <%= @entidade.descricao %></title>
	</head>
	<body>

		Cargo
		<form name="formEntidade" method="post">			
			Código
			<input type="text" name="codigo" <%= "readonly" if @read_only%> value="<%=@entidade.codigo%>" />
			</br>
			Descrição
			<input type="text" name="descricao" <%= "readonly" if @read_only%> value="<%=@entidade.descricao%>" />
			<% unless @read_only  %>
				<input type="submit" value="Salvar" onclick="document.formEntidade.action='/cargos'" />
			<% end %>
		</form>
		
	</body>

</html>
