<html>

	<head>
		<title>Cargos</title>
	</head>
	<body>

		Cargo
		<table border="1">
		<tr>
			<td>Descrição</td>
		</tr>
		<tr>
			<% for cargo in @entidades%>
				<td><%=cargo.descricao%></td>
			<%end%>
		</tr>
		</table>			
		
		
	</body>

</html>
